<{$survey.javascript}>
<form name="<{$survey.name}>" action="<{$survey.action}>" method="<{$survey.method}>" <{$survey.extra}> >
    <div><h3><{$survey.title}></h3></div>
    <div><{$survey.description}></div>
    <{counter assign="qno" print=false start=0}>
    <{foreach item=element from=$survey.elements}>
        <{if $element.hidden != true}>
            <div style="padding: 10px;">
                <div>
                    <span style="font-weight: bold;">
                        <{if $element.type != "xoopsformbutton" && $element.caption != "" && $element.type != "xoopsformlabel"}>
                            <{counter}>
                            <{$qno}>.                            
                        <{/if}>
                        <{$element.caption}>
                    </span>
    		        <{if $element.required == 1}>&nbsp;<{$survey.req_icon}><{/if}>
    		        <br />
    		        <br />
    		        <{if $element.description != ""}>
        		        <span style="font-weight: normal;">
        		          <{$element.description}><br /><br />
        		        </span>
    		        <{/if}>
    		    </div>
    		    <div>
    		        <{$element.body}>
    	        </div>
	        </div>
		<{else}>
		      <{$element.body}>
		<{/if}>
	<{/foreach}>
</form>